<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.simpl.adminConsole.treeItem"
         name="TreeItems"
         point="org.eclipse.simpl.adminConsole.treeItem">
      <treeItems
            label="Referenzen">
      </treeItems>
      <treeItems
            label="Datasource Registry">
      </treeItems>
   </extension>

</plugin>
