<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rmweb</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description>DataSourceListAction</description>
    <display-name>DataSourceListAction</display-name>
    <servlet-name>DataSourceListAction</servlet-name>
    <servlet-class>org.simpl.resource.management.webinterface.actions.DataSourceListAction</servlet-class>
  </servlet>
  
  <servlet>
    <description>DataSourceFormAction</description>
    <display-name>DataSourceFormAction</display-name>
    <servlet-name>DataSourceFormAction</servlet-name>
    <servlet-class>org.simpl.resource.management.webinterface.actions.DataSourceFormAction</servlet-class>
  </servlet>

  <servlet>
    <description>ConnectorListAction</description>
    <display-name>ConnectorListAction</display-name>
    <servlet-name>ConnectorListAction</servlet-name>
    <servlet-class>org.simpl.resource.management.webinterface.actions.ConnectorListAction</servlet-class>
  </servlet>

  <servlet>
    <description>ConnectorFormAction</description>
    <display-name>ConnectorFormAction</display-name>
    <servlet-name>ConnectorFormAction</servlet-name>
    <servlet-class>org.simpl.resource.management.webinterface.actions.ConnectorFormAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DataSourceListAction</servlet-name>
    <url-pattern>/DataSourceListAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DataSourceFormAction</servlet-name>
    <url-pattern>/DataSourceFormAction</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ConnectorListAction</servlet-name>
    <url-pattern>/ConnectorListAction</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ConnectorFormAction</servlet-name>
    <url-pattern>/ConnectorFormAction</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>rmweb</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    
    <auth-constraint>
      <role-name>secure</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Interner Bereich</realm-name>
  </login-config>
</web-app>