<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="pontId" name="SimplExtentionPoint" schema="schema/pontId.exsd"/>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Simpl Action Set"
            visible="true"
            id="com.simpl.bpelDesignerExtention.actionSet">
         <Generic></Generic>
         <menu
               label="SIMPL"
               id="simplMenu">
            <separator
                  name="simplGroup">
            </separator>
         </menu>
         <action
               label="SIMPL Function"
               icon="icons/simpl_mini2.gif"
               class="com.simpl.bpeldesignerextention.actions.SimplAction"
               tooltip="Hi SIMPL "
               menubarPath="simplMenu/simplGroup"
               toolbarPath="simplGroup"
               id="com.simpl.bpeldesignerextention.actions.SimplAction">
         </action>
         <action
               class="com.simpl.bpeldesignerextention.actions.AdminKonsole"
               icon="icons/adminKonsole_mini2.gif"
               id="com.simpl.bpeldesignerextention.actions.AdminKonsole"
               label="Admin Konsole"
               menubarPath="simplMenu/simplGroup"
               toolbarPath="simplGroup"
               tooltip="Hi SIMPL ">
         </action>
         <action
               class="com.simpl.bpeldesignerextention.actions.GlobaleEigenschaften"
               icon="icons/GlobaleEigenschaften_mini2.gif"
               id="com.simpl.bpeldesignerextention.actions.GlobaleEigenschaften"
               label="Globale Einstellungen"
               menubarPath="simplMenu/simplGroup"
               toolbarPath="simplGroup"
               tooltip="Hi SIMPL ">
         </action>
         <action
               class="com.simpl.bpeldesignerextention.actions.Monitoring"
               icon="icons/monitoring_mini2.gif"
               id="com.simpl.bpeldesignerextention.actions.Monitoring"
               label="Monitoring"
               menubarPath="simplMenu/simplGroup"
               toolbarPath="simplGroup"
               tooltip="Hi SIMPL ">
         </action>
      </actionSet>
   </extension>
   <extension
         id="SIMPL_Extention"
         name="SIMPL Extention"
         point="org.eclipse.ui.views">
      <Generic>
         <Generic>
            id:SIMPL_Extention
name: hallo
         </Generic>
         id=simpol
name=simpl Exten
      </Generic>
      <view
            category="com.simpl.bpelDesignerExtention"
            class="com.simpl.bpeldesignerextention.views.SampleView"
            icon="icons/sample.gif"
            id="com.simpl.bpeldesignerextention.views.SampleView"
            name="Sample View">
      </view>
      <category
            id="com.simpl.bpelDesignerExtention.view.simplcategory"
            name="SIMPL view">
      </category>
      <view
            category="com.simpl.bpelDesignerExtention.view.simplcategory"
            class="com.simpl.bpeldesignerextention.views.SimplView"
            icon="icons/simpl_mini2.gif"
            id="com.simpl.bpeldesignerextention.views.SImplView"
            name="Hallo Simpl View">
      </view>
      <view
            category="com.simpl.bpelDesignerExtention.view.simplcategory"
            class="com.simpl.bpeldesignerextention.views.SampleView"
            icon="icons/simpl.gif"
            id="com.simpl.bpeldesignerextention.views.SImplView"
            name="Hallo Simpl View">
      </view>
      <view
            category="com.simpl.bpelDesignerExtention.view.helloworldcategory"
            class="com.simpl.bpeldesignerextention.views.SampleView"
            icon="icons/simpl.gif"
            id="com.simpl.bpeldesignerextention.views.SImplView"
            name="Hallo Simpl View">
      </view>
      <view
            category="com.simpl.bpelDesignerExtention.view.helloworldcategory"
            class="com.simpl.bpeldesignerextention.views.SampleView"
            icon="icons/simpl_mini2.gif"
            id="com.simpl.bpeldesignerextention.views.SImplView"
            name="Hallo Simpl View">
      </view>
   </extension>
   <extension
         id="action"
         point="org.eclipse.ui.viewActions">
      <Generic></Generic>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.simpl.bpeldesignerextention.views.SimplView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.dropActions">
   </extension>

</plugin>
