<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.references.category"
            name="Reference Resolution System">
      </category>
      <view
            category="org.eclipse.references.category"
            class="org.eclipse.simpl.rrs.ui.view.ReferenceManagementView"
            icon="icons/reference.png"
            id="org.eclipse.references.referenceManagementView"
            name="Reference Management View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.simpl.rrs.ui.commands.AddEPRHandler"
            id="org.eclipse.rrs.ui.commands.AddEPR"
            name="Add Reference">
      </command>
      <command
            defaultHandler="org.eclipse.simpl.rrs.ui.commands.RemoveEPRHandler"
            id="org.eclipse.rrs.ui.commands.RemoveEPR"
            name="Remove Reference">
      </command>
      <command
            defaultHandler="org.eclipse.simpl.rrs.ui.commands.EditEPRHandler"
            id="org.eclipse.rrs.ui.commands.EditEPR"
            name="Edit Reference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.references.referenceManagementView">
         <command
               commandId="org.eclipse.rrs.ui.commands.AddEPR"
               icon="icons/add.gif"
               label="Add Reference"
               style="push">
         </command>
         <command
               commandId="org.eclipse.rrs.ui.commands.RemoveEPR"
               icon="icons/delete.gif"
               label="Remove Reference"
               style="push">
         </command>
         <command
               commandId="org.eclipse.rrs.ui.commands.EditEPR"
               icon="icons/edit.png"
               label="Edit EPR"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.references.referenceManagementView">
         <command
               commandId="org.eclipse.rrs.ui.commands.AddEPR"
               icon="icons/add.gif"
               label="Add Reference"
               style="push">
         </command>
         <command
               commandId="org.eclipse.rrs.ui.commands.RemoveEPR"
               icon="icons/delete.gif"
               label="Remove Reference"
               style="push">
         </command>
         <command
               commandId="org.eclipse.rrs.ui.commands.EditEPR"
               icon="icons/edit.png"
               label="Edit EPR"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
