<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.bpel.common.ui.paletteAdditions">
      <additions
            provider="org.eclipse.bpel.dmextension.ui.palette.DMextensionPaletteProvider"
            targetEditor="org.eclipse.bpel.ui.bpeleditor">
      </additions>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.bpel.ui.bpeleditor">
         <propertySection
               class="org.eclipse.bpel.dmextension.ui.properties.DataManagementActivityPropertySection"
               id="org.eclipse.bpel.dmextension.ui.properties.DataManagementActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.dmextension.model.DataManagementActivity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="DMextensionUIObjectFactory"
         name="test"
         point="org.eclipse.bpel.ui.uiObjectFactories">
      <factory
            categoryId="not.used"
            class="org.eclipse.bpel.dmextension.ui.factories.DMextensionUIObjectFactory"
            id="org.eclipse.bpel.dmextension.ui.factories.DMextensionUIObjectFactory"
            specCompliant="false">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.bpel.dmextension.ui.contribution1"
            nameFilter="*.bpel"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.bpel.dmextension.ui.menu1"
               label="BPELTestMenu"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.bpel.dmextension.ui.popup.actions.PopupAction"
               enablesFor="1"
               id="org.eclipse.bpel.dmextension.ui.popupAction"
               label="BPEL Test Action"
               menubarPath="org.eclipse.bpel.dmextension.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
