<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.simpl.settings.settingsCommand"
            name="Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.simpl.settings.handler.SimplSettingsHandler"
            commandId="org.eclipse.simpl.settings.settingsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.simpl.core.simplMenu?after=org.eclipse.simpl.core.adminCCommand">
         <command
               commandId="org.eclipse.simpl.settings.settingsCommand"
               id="org.eclipse.simpl.settings.settingsCommand"
               mnemonic="T">
         </command>
      </menuContribution>
   </extension>

</plugin>
