<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.simpl.core.adminConsoleItem" name="AdminConsoleItem" schema="schema/org.eclipse.simpl.core.adminConsoleItem.exsd"/>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SIMPL Category"
            id="org.eclipse.simpl.core.category">
      </category>
      <command
            name="Admin Console"
            categoryId="org.eclipse.simpl.core.category"
            id="org.eclipse.simpl.core.adminCCommand">
      </command>
      <command
            categoryId="org.eclipse.simpl.core.category"
            id="org.eclipse.simpl.core.helpCommand"
            name="Help">
      </command>
      <command
            categoryId="org.eclipse.simpl.core.category"
            id="org.eclipse.simpl.core.aboutCommand"
            name="About">
      </command>
      <command
            categoryId="org.eclipse.simpl.core.category"
            id="org.eclipse.simpl.core.reloadDataCommand"
            name="Reload Plug-In Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.simpl.core.handler.SimplAdminConsoleHandler"
            commandId="org.eclipse.simpl.core.adminCCommand">">
      </handler>
      <handler
            class="org.eclipse.simpl.core.handler.SimplAboutHandler"
            commandId="org.eclipse.simpl.core.aboutCommand">
      </handler>
      <handler
            class="org.eclipse.simpl.core.handler.SimplReloadDataHandler"
            commandId="org.eclipse.simpl.core.reloadDataCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.eclipse.simpl.core.simplMenu"
               label="SIMPL"
               mnemonic="M">
            <command
                  commandId="org.eclipse.simpl.core.adminCCommand"
                  icon="icons/SIMPL-logo-small.png"
                  id="org.eclipse.simpl.core.adminCCommand"
                  mnemonic="C">
            </command>
            <command
                  commandId="org.eclipse.simpl.core.helpCommand"
                  id="org.eclipse.simpl.core.helpCommand"
                  mnemonic="H">
            </command>
            <command
                  commandId="org.eclipse.simpl.core.aboutCommand"
                  id="org.eclipse.simpl.core.aboutCommand"
                  mnemonic="A">
            </command>
            <separator
                  name="org.eclipse.simpl.core.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.simpl.core.reloadDataCommand"
                  id="org.eclipse.simpl.core.reloadDataCommand"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
