<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.simpl.resource.framework.category"
            class="org.eclipse.simpl.resource.framework.view.ResourceFrameworkBrowserView"
            icon="icons/browser.png"
            id="org.eclipse.simpl.resource.framework.resourceFrameworkView"
            name="Resource Framework Data Source Browser"
            restorable="true">
      </view>
      <category
            id="org.eclipse.simpl.resource.framework.category"
            name="Resource Framework">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.simpl.core.ui.preferences.SIMPLHomePreferencePage"
            class="org.eclipse.simpl.resource.framework.preferences.ResourceFrameworkPreferencePage"
            id="org.eclipse.simpl.resource.framework.preferences.ResourceFrameworkPreferencePage"
            name="Resource Framework">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.simpl.resource.framework.commands.RefreshHandler"
            id="org.eclipse.simpl.resource.framework.refreshCommand"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.simpl.resource.framework.resourceFrameworkView">
         <command
               commandId="org.eclipse.simpl.resource.framework.refreshCommand"
               icon="icons/action_refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.simpl.resource.framework.resourceFrameworkView">
         <command
               commandId="org.eclipse.simpl.resource.framework.refreshCommand"
               icon="icons/action_refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
