<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.simpl.uddi.category"
            class="org.eclipse.simpl.uddi.view.UDDIBrowserView"
            icon="icons/browser.png"
            id="org.eclipse.simpl.uddi.uddiView"
            name="UDDI Browser View"
            restorable="true">
      </view>
      <category
            id="org.eclipse.simpl.uddi.category"
            name="UDDI Registry">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.simpl.core.ui.preferences.SIMPLHomePreferencePage"
            class="org.eclipse.simpl.uddi.preferences.UDDIPreferencePage"
            id="org.eclipse.simpl.uddi.preferences.UDDIPreferencePage"
            name="UDDI Registry">
      </page>
   </extension>

</plugin>
