<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.simpl.core.adminConsoleItem">
      <adminConsoleItem
            label="Auditing">
         <adminConsoleItem
               composite="org.eclipse.simpl.core.auditing.ui.AuditingGeneralComposite"
               label="General">
         </adminConsoleItem>
         <adminConsoleItem
               composite="org.eclipse.simpl.core.auditing.ui.AuditingLocalDsComposite"
               label="Default data source">
         </adminConsoleItem>
      </adminConsoleItem>
   </extension>

</plugin>
