<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.simpl.resource.management.category"
            class="org.eclipse.simpl.resource.management.view.ResourceManagementBrowserView"
            icon="icons/browser.png"
            id="org.eclipse.simpl.resource.management.resourceManagementView"
            name="Resource Management Data Source Browser"
            restorable="true">
      </view>
      <category
            id="org.eclipse.simpl.resource.management.category"
            name="Resource Management">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.simpl.resource.management.commands.RefreshHandler"
            id="org.eclipse.simpl.resource.management.refreshCommand"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.simpl.resource.management.resourceManagementView">
         <command
               commandId="org.eclipse.simpl.resource.management.refreshCommand"
               icon="icons/action_refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.simpl.resource.management.resourceManagementView">
         <command
               commandId="org.eclipse.simpl.resource.management.refreshCommand"
               icon="icons/action_refresh.gif"
               label="Refresh"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
