<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
    <extension
         point="org.eclipse.bpel.simpl.ui.queryLanguage">
      <queryLanguages
            language="SQL">
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.SelectEditor"
               name="Select"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.QueryActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.DeleteEditor"
               name="Delete"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.DeleteActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.RetrieveDataEditor"
               name="Retriev Data"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.RetrieveDataActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.CallEditor"
               name="Call"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.CallActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.CreatEditor"
               name="Creat"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.CreateActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.DropEditor"
               name="Drop"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.DropActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.UpdateEditor"
               name="Update"
               queryStatmentsLogikXmlFile="dddddd">
            <activity
                  type="org.eclipse.bpel.simpl.model.UpdateActivity">
            </activity>
         </queryLanguage>
         <queryLanguage
               class="org.eclipse.bpel.simpl.ui.sql.editor.InsertEditor"
               name="Insert"
               queryStatmentsLogikXmlFile="E:\Studium_Dateien\StuproA\workspace\org.eclipse.bpel.simpl.ui.sql\src\xmlParser\testXMLFile.xml">
            <activity
                  type="org.eclipse.bpel.simpl.model.InsertActivity">
            </activity>
         </queryLanguage>
         
         
      </queryLanguages>
   </extension>

</plugin>
