<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.bpel.simpl.ui.queryLanguage" name="QueryLanguage" schema="schema/org.eclipse.bpel.simpl.ui.queryLanguage.exsd"/>
   <extension
         id="DataManagementUIObjectFactory"
         name="simpl"
         point="org.eclipse.bpel.ui.uiObjectFactories">
      <factory
            categoryId="not.used"
            class="org.eclipse.bpel.simpl.ui.factories.DataManagementUIObjectFactory"
            id="org.eclipse.bpel.simpl.ui.factories.DataManagementUIObjectFactory"
            specCompliant="false">
      </factory>
   </extension>
   
   <extension point="org.eclipse.bpel.common.ui.paletteAdditions">
      <additions
            provider="org.eclipse.bpel.simpl.ui.palette.DataManagementPaletteProvider"
            targetEditor="org.eclipse.bpel.ui.bpeleditor">
      </additions>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.bpel.ui.bpeleditor">
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.QueryPropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.QueryActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.QueryActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.InsertPropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.InsertActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.InsertActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.UpdatePropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.UpdateActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.UpdateActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.DeletePropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.DeleteActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.DeleteActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.CreatePropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.CreateActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.CreateActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.DropPropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.DropActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.DropActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.CallPropertySection"
               id="org.eclipse.bpel.simpl.ui.properties.CallActivityPropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.CallActivity">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.bpel.simpl.ui.properties.RetrieveDataVariableSection"
               id="org.eclipse.bpel.simpl.ui.properties.RetrieveDataActivityVariablePropertySection"
               tab="org.eclipse.bpel.ui.tabs.details">
            <input
                  type="org.eclipse.bpel.simpl.model.RetrieveDataActivity">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.bpel.simpl.ui.handler.BPELDMReloadDataHandler"
            commandId="org.eclipse.bpel.simpl.ui.reloadDataCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.simpl.core.category"
            id="org.eclipse.bpel.simpl.ui.reloadDataCommand"
            name="Reload Plug-In Data">
      </command>
   </extension>
   <extension
         point="org.eclipse.bpel.ui.hoverHelpers">
      <hoverHelper
            class="org.eclipse.bpel.simpl.ui.hovers.SIMPLHoverHelper">
      </hoverHelper>
   </extension>

</plugin>

